# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\offensive notes and payloads\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
D:\offensive notes and payloads\burploader.jar
D:\offensive notes and payloads\burpsuite_pro_v2022.6.1.jar
